@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso no permitido";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tenés que ser admin para ingresar a ésta vista.</p>
</header>
